@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

#upvote{
    margin-left: 95%;

}

#downvote{
    margin-left: 95%;
}

#upvote_count{

    margin-left: 95%;
}

#downvote_count{
    margin-left: 95%;


}